// Nextflow configuration file
params {
    // run params
    output_dir = "./results"
    threads = 8  // Add this line

    // params for prepare_input
    chunk_size = 5000

    // params for dorado basecaller
    min_qscore = 7
    kit_name = "SQK-RNA004"
    dorado_model_dir = "${baseDir}/resources/dorado_models/"
    dorado_rna_model = "rna004_130bps_sup@v5.2.0"
    dorado_model = "sup"
    dorado_mods_models = "pseU_2OmeU,2OmeG,m5C_2OmeC,inosine_m6A_2OmeA"

    max_diff_threshold = 30

    // programs
    dorado = "/home/users/astar/gis/zhangt/Software/bin/dorado"
    modkit = "/home/users/astar/gis/zhangt/Software/bin/modkit"
    samtools = "/home/users/astar/gis/zhangt/miniforge/bin/samtools"
    minimap2 = "/home/users/astar/gis/zhangt/miniforge/bin/minimap2"
}
// Process configuration
process {
    // Default process configuration
    executor = 'slurm'
    clusterOptions = { ' -V --partition=gpu4w --gres=gpu:1 ' }  // Remove account specification or update with your actual account

    penv = 'OpenMP'
    // errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
    pollInterval = '30 sec'
    exitReadTimeout = "120 sec"

    // Process-specific configurations
    withName: DORADO_BASECALL {
        cpus = 8
        memory = '32 GB'
        time = '48h'
        accelerator = 1
        // container = 'ontresearch/dorado:latest'
        containerOptions = '--gpus all --shm-size=8g'
        clusterOptions = '-V --partition=gpu4w --gres=gpu:1'  // Request 1 GPU explicitly
    }

    withName: DORADO_ALIGNER {
        cpus = 8
        memory = '32 GB'
        time = '12h'
    }
    withName: MERGE_CHUNKS {
        cpus = 8
        memory = '64 GB'
        time = '12h'
    }

    withName: MODIFICATION_ANALYSIS {
        cpus = 4
        memory = '16 GB'
        time = '12h'
        container = 'ontresearch/modkit:latest'
    }
}
